

<div class="block">
    <h2>Enter a URL for a car you're thinking of buying</h2>
    <br>
    <%= form_tag(:cloud_vision, method: "get") do %>
        <%= text_field_tag(:img_url) %>
        <%= submit_tag("Search") %>
    <% end %>
    <p>
        <%= "Detected: #{@car}" %>
    </p>

    <%= image_tag(@url_image, size: "48") %>

    <h3>We'll try our best to show you the best deals :)</h3>
    <div style='width: 800px;'>  
    <div id="map" style='width: 800px; height: 400px;'></div>  
    </div> 
</div>

<div id="background">
    <%= render "background"%>
</div>

<div id="resources">
    <%= render "resources" %>
</div>


<script type="text/javascript">  
handler = Gmaps.build('Google');  
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){  
  markers = handler.addMarkers([  
    {  
      "lat": "<%= @latlong[0] %>",  
      "lng": "<%= @latlong[1] %>",  
      "picture": {  
        "width":  32,  
        "height": 32  
      },  
      "infowindow": "SJSU"  
    }  
  ]);  
  handler.bounds.extendWith(markers);  
  handler.fitMapToBounds();
});  
</script>