<h1>Joseph is a poo-poo</h1>
<%= image_tag 'car.png', class: "img-fluid" %>
<%= form_tag(:cloud_vision, method: "get") do %>
    <%= text_field_tag(:img_url) %>
    <%= submit_tag("Search") %>
<% end %>
<div style='width: 800px;'>  
  <div id="map" style='width: 800px; height: 400px;'></div>  
</div> 

<script type="text/javascript">  
handler = Gmaps.build('Google');  
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){  
  markers = handler.addMarkers([  
    {  
      "lat": "<%=@latlong[0]%>",  
      "lng": "<%=@latlong[1]%>",  
      "picture": {  
        "width":  32,  
        "height": 32  
      },  
      "infowindow": "SJSU"  
    }  
  ]);  
  handler.bounds.extendWith(markers);  
  handler.fitMapToBounds();  
});  
</script>